openapi: 3.1.0
info:
  title: jobops - Common Parameters
  version: 1.0.0
  license:
    name: MIT
    identifier: MIT
servers:
  - url: https://api.jobops.dev
paths: {}
components:
  parameters:
    JobId:
      in: path
      name: jobId
      required: true
      schema:
        type: string
    AppId:
      in: path
      name: appId
      required: true
      schema:
        type: string
    CompanyId:
      in: path
      name: companyId
      required: true
      schema:
        type: string
    QueryId:
      in: path
      name: queryId
      required: true
      schema:
        type: string
    ResumeId:
      in: path
      name: resumeId
      required: true
      schema:
        type: string
    ContactId:
      in: path
      name: contactId
      required: true
      schema:
        type: string
    PromptId:
      in: path
      name: promptId
      required: true
      schema:
        type: string
    RunId:
      in: path
      name: runId
      required: true
      schema:
        type: string
    SubmissionId:
      in: path
      name: submissionId
      required: true
      schema:
        type: string
    EvaluationId:
      in: path
      name: evaluationId
      required: true
      schema:
        type: string
    OfferId:
      in: path
      name: offerId
      required: true
      schema:
        type: string
    SessionId:
      in: path
      name: sessionId
      required: true
      schema:
        type: string
    ReportId:
      in: path
      name: reportId
      required: true
      schema:
        type: string
    RejectionId:
      in: path
      name: rejectionId
      required: true
      schema:
        type: string
    SavedJobId:
      in: path
      name: savedJobId
      required: true
      schema:
        type: string
    BoardId:
      in: path
      name: boardId
      required: true
      schema:
        type: string
    ModelId:
      in: path
      name: modelId
      required: true
      schema:
        type: string
    Cursor:
      in: query
      name: cursor
      required: false
      schema:
        type: string
    Limit:
      in: query
      name: limit
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
