openapi: 3.1.0
info:
  title: jobops - Contacts & Outreach
  version: 1.0.0
  x-domain: con
  x-cli-modes: [contacto, followup]
  description: Professional contacts and outreach messaging.
  license:
    name: MIT
    identifier: MIT
servers:
  - url: https://api.jobops.dev
security:
  - bearerAuth: []
paths:
  /contacts:
    get:
      operationId: ListContacts
      summary: List contacts
      tags: [Contacts]
      responses:
        "200":
          description: Contacts
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContactListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      operationId: CreateContact
      summary: Add a contact
      tags: [Contacts]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateContactRequest"
      responses:
        "201":
          description: Contact created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Contact"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /contacts/templates:
    get:
      operationId: ListMessageTemplates
      summary: List outreach message templates
      tags: [Contacts]
      responses:
        "200":
          description: Templates
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageTemplateListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      operationId: CreateMessageTemplate
      summary: Create a message template
      tags: [Contacts]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateMessageTemplateRequest"
      responses:
        "201":
          description: Template created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageTemplate"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /contacts/outreach-logs:
    get:
      operationId: ListOutreachLogs
      summary: List outreach message history
      tags: [Contacts]
      parameters:
        - name: contactId
          in: query
          schema:
            type: string
        - name: applicationId
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Outreach logs
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OutreachLogListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /contacts/messages/send:
    post:
      operationId: SendOutreachMessage
      summary: Send outreach message to a contact
      tags: [Contacts]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OutreachMessage"
      responses:
        "202":
          description: Message queued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OutreachLog"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
components:
  schemas:
    Contact:
      $ref: "contacts.schemas.yaml#/components/schemas/Contact"
    ContactListResponse:
      $ref: "contacts.schemas.yaml#/components/schemas/ContactListResponse"
    CreateContactRequest:
      $ref: "contacts.schemas.yaml#/components/schemas/CreateContactRequest"
    MessageTemplate:
      $ref: "contacts.schemas.yaml#/components/schemas/MessageTemplate"
    MessageTemplateListResponse:
      $ref: "contacts.schemas.yaml#/components/schemas/MessageTemplateListResponse"
    CreateMessageTemplateRequest:
      $ref: "contacts.schemas.yaml#/components/schemas/CreateMessageTemplateRequest"
    OutreachMessage:
      $ref: "contacts.schemas.yaml#/components/schemas/OutreachMessage"
    OutreachLog:
      $ref: "contacts.schemas.yaml#/components/schemas/OutreachLog"
    OutreachLogListResponse:
      $ref: "contacts.schemas.yaml#/components/schemas/OutreachLogListResponse"
  securitySchemes:
    bearerAuth:
      $ref: "common/security.yaml#/components/securitySchemes/bearerAuth"
  responses:
    BadRequest:
      $ref: "common/responses.yaml#/components/responses/BadRequest"
    Unauthorized:
      $ref: "common/responses.yaml#/components/responses/Unauthorized"
    Forbidden:
      $ref: "common/responses.yaml#/components/responses/Forbidden"
    NotFound:
      $ref: "common/responses.yaml#/components/responses/NotFound"
