openapi: 3.1.0
info:
  title: jobops - Discovery Schemas
  version: 1.0.0
  x-domain: disc
  description: Schemas for Opportunity Discovery (job postings, search).
  license:
    name: MIT
    identifier: MIT
paths: {}
servers:
  - url: https://api.jobops.dev
components:
  schemas:
    SalaryRange:
      type: object
      properties:
        min:
          type: integer
          example: 50000
        max:
          type: integer
          example: 100000
        currency:
          type: string
          example: USD
    SearchFilter:
      type: object
      required: [keywords]
      properties:
        keywords:
          type: array
          items:
            type: string
        location:
          type: string
        remote:
          type: boolean
        salaryRange:
          $ref: "#/components/schemas/SalaryRange"
        industries:
          type: array
          items:
            type: string
        tags:
          type: array
          items:
            type: string
    SearchRequest:
      $ref: "#/components/schemas/SearchFilter"
    JobBoardAdapterType:
      type: string
      enum: [greenhouse, lever, workday, linkedin, indeed, custom]
    JobBoard:
      x-entity: true
      type: object
      required: [id, name, baseUrl]
      properties:
        id:
          type: string
        name:
          type: string
        baseUrl:
          type: string
          format: uri
        adapterType:
          $ref: "#/components/schemas/JobBoardAdapterType"
        enabled:
          type: boolean
          default: true
    JobBoardListResponse:
      type: object
      properties:
        boards:
          type: array
          items:
            $ref: "#/components/schemas/JobBoard"
    JobPosting:
      x-entity: true
      type: object
      required: [id, title, company, location, url]
      properties:
        id:
          type: string
          example: job-123
        title:
          type: string
        company:
          type: string
        companyId:
          type: string
        location:
          type: string
        salary:
          $ref: "#/components/schemas/SalaryRange"
        description:
          type: string
        url:
          type: string
          format: uri
        source:
          type: string
          description: Portal or board identifier
        boardId:
          type: string
        industry:
          type: string
        tags:
          type: array
          items:
            type: string
    JobListResponse:
      type: object
      properties:
        jobs:
          type: array
          items:
            $ref: "#/components/schemas/JobPosting"
    JobSearch:
      type: object
      properties:
        queryId:
          type: string
        status:
          type: string
          enum: [Pending, Complete, Failed]
        filter:
          $ref: "#/components/schemas/SearchFilter"
        results:
          type: array
          items:
            $ref: "#/components/schemas/JobPosting"
    BatchSearchRequest:
      type: object
      required: [filters]
      properties:
        filters:
          type: array
          items:
            $ref: "#/components/schemas/SearchFilter"
        boardIds:
          type: array
          items:
            type: string
    SavedJob:
      x-entity: true
      type: object
      required: [id, jobId, savedAt]
      properties:
        id:
          type: string
        jobId:
          type: string
        savedAt:
          type: string
          format: date-time
        notes:
          type: string
    SaveJobRequest:
      type: object
      required: [jobId]
      properties:
        jobId:
          type: string
        notes:
          type: string
    SavedJobListResponse:
      type: object
      properties:
        savedJobs:
          type: array
          items:
            $ref: "#/components/schemas/SavedJob"
