openapi: 3.1.0
info:
  title: jobops - Evaluation Schemas
  version: 1.0.0
  x-domain: eval
  description: Job fit scoring (multi-dimensional / A–F grade).
  license:
    name: MIT
    identifier: MIT
paths: {}
servers:
  - url: https://api.jobops.dev
components:
  schemas:
    FitDimension:
      type: string
      enum:
        - RoleMatch
        - SkillsAlignment
        - Seniority
        - Compensation
        - Geographic
        - Growth
        - Culture
        - WorkLife
        - Industry
        - Network
    DimensionScore:
      type: object
      required: [dimension, grade]
      properties:
        dimension:
          $ref: "#/components/schemas/FitDimension"
        grade:
          type: string
          description: Letter grade for this dimension
          example: B
        score:
          type: number
          format: float
    JobEvaluation:
      x-entity: true
      type: object
      required: [id, jobId, overallGrade, evaluatedAt]
      properties:
        id:
          type: string
        jobId:
          type: string
        overallGrade:
          type: string
          example: B
        dimensions:
          type: array
          items:
            $ref: "#/components/schemas/DimensionScore"
        filteredOut:
          type: boolean
          description: True when score is below user threshold
        evaluatedAt:
          type: string
          format: date-time
    JobEvaluationListResponse:
      type: object
      properties:
        evaluations:
          type: array
          items:
            $ref: "#/components/schemas/JobEvaluation"
        nextCursor:
          type: string
