openapi: 3.1.0
info:
  title: jobops - Resume Schemas
  version: 1.0.0
  x-domain: res
  license:
    name: MIT
    identifier: MIT
paths: {}
servers:
  - url: https://api.jobops.dev
components:
  schemas:
    Experience:
      type: object
      required: [company, title, startDate]
      properties:
        company:
          type: string
        title:
          type: string
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
    Education:
      type: object
      required: [institution, degree]
      properties:
        institution:
          type: string
        degree:
          type: string
        year:
          type: integer
    Resume:
      type: object
      required: [id, userId, name]
      properties:
        id:
          type: string
        userId:
          type: string
        name:
          type: string
        experiences:
          type: array
          items:
            $ref: "#/components/schemas/Experience"
        education:
          type: array
          items:
            $ref: "#/components/schemas/Education"
        skills:
          type: array
          items:
            type: string
        pdfUrl:
          type: string
          format: uri
    ResumeListResponse:
      type: object
      properties:
        resumes:
          type: array
          items:
            $ref: "#/components/schemas/Resume"
    GenerateResumeRequest:
      type: object
      required: [templateId]
      properties:
        templateId:
          type: string
        targetJobId:
          type: string
