openapi: 3.1.0
info:
  title: jobops - Career Strategy
  version: 1.0.0
  x-domain: str
  x-cli-modes: [update]
  description: North Star archetype and long-term career goals.
  license:
    name: MIT
    identifier: MIT
servers:
  - url: https://api.jobops.dev
security:
  - bearerAuth: []
paths:
  /strategy:
    get:
      operationId: GetCareerStrategy
      summary: Get North Star and career goals
      tags: [Strategy]
      responses:
        "200":
          description: Career strategy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CareerStrategy"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /strategy/north-star:
    put:
      operationId: UpdateNorthStar
      summary: Set or update North Star archetype
      tags: [Strategy]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateNorthStarRequest"
      responses:
        "200":
          description: Updated North Star
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NorthStar"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /strategy/goals:
    post:
      operationId: CreateCareerGoal
      summary: Add a career goal
      tags: [Strategy]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCareerGoalRequest"
      responses:
        "201":
          description: Goal created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CareerGoal"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
components:
  schemas:
    CareerStrategy:
      $ref: "strategy.schemas.yaml#/components/schemas/CareerStrategy"
    NorthStar:
      $ref: "strategy.schemas.yaml#/components/schemas/NorthStar"
    CareerGoal:
      $ref: "strategy.schemas.yaml#/components/schemas/CareerGoal"
    UpdateNorthStarRequest:
      $ref: "strategy.schemas.yaml#/components/schemas/UpdateNorthStarRequest"
    CreateCareerGoalRequest:
      $ref: "strategy.schemas.yaml#/components/schemas/CreateCareerGoalRequest"
  securitySchemes:
    bearerAuth:
      $ref: "common/security.yaml#/components/securitySchemes/bearerAuth"
  responses:
    BadRequest:
      $ref: "common/responses.yaml#/components/responses/BadRequest"
    Unauthorized:
      $ref: "common/responses.yaml#/components/responses/Unauthorized"
    Forbidden:
      $ref: "common/responses.yaml#/components/responses/Forbidden"
    NotFound:
      $ref: "common/responses.yaml#/components/responses/NotFound"
