openapi: 3.1.0
info:
  title: jobops - Strategy Schemas
  version: 1.0.0
  x-domain: str
  description: North Star archetype, career goals, and goal metrics.
  license:
    name: MIT
    identifier: MIT
paths: {}
servers:
  - url: https://api.jobops.dev
components:
  schemas:
    CareerArchetype:
      type: string
      enum:
        - AgenticWorkflows
        - PlatformEngineering
        - DataScience
        - ProductLeadership
        - StaffEngineering
        - Other
    GoalMetric:
      type: object
      properties:
        name:
          type: string
        targetValue:
          type: number
        currentValue:
          type: number
        unit:
          type: string
    NorthStar:
      type: object
      required: [archetype]
      properties:
        archetype:
          $ref: "#/components/schemas/CareerArchetype"
        summary:
          type: string
    CareerGoal:
      x-entity: true
      type: object
      required: [id, title]
      properties:
        id:
          type: string
        title:
          type: string
        targetDate:
          type: string
          format: date
        status:
          type: string
          enum: [Active, Achieved, Paused]
        metrics:
          type: array
          items:
            $ref: "#/components/schemas/GoalMetric"
        analyticsGoalId:
          type: string
          description: Optional link to analytics AnalyticsGoal id for progress tracking
    CareerStrategy:
      type: object
      properties:
        northStar:
          $ref: "#/components/schemas/NorthStar"
        goals:
          type: array
          items:
            $ref: "#/components/schemas/CareerGoal"
    UpdateNorthStarRequest:
      type: object
      required: [archetype]
      properties:
        archetype:
          $ref: "#/components/schemas/CareerArchetype"
        summary:
          type: string
    CreateCareerGoalRequest:
      type: object
      required: [title]
      properties:
        title:
          type: string
        targetDate:
          type: string
          format: date
        metrics:
          type: array
          items:
            $ref: "#/components/schemas/GoalMetric"
