openapi: 3.1.0
info:
  title: jobops - Training & Projects
  version: 1.0.0
  x-domain: trn
  x-cli-modes: [training, project]
  description: Courses, portfolio projects, and skill-gap recommendations.
  license:
    name: MIT
    identifier: MIT
servers:
  - url: https://api.jobops.dev
security:
  - bearerAuth: []
paths:
  /training/courses:
    get:
      operationId: ListTrainingCourses
      summary: List courses
      tags: [Training]
      responses:
        "200":
          description: Courses
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CourseListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /training/projects:
    get:
      operationId: ListTrainingProjects
      summary: List portfolio projects
      tags: [Training]
      responses:
        "200":
          description: Projects
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
  /training/recommendations:
    get:
      operationId: ListTrainingRecommendations
      summary: Get skill and learning recommendations
      tags: [Training]
      responses:
        "200":
          description: Recommendations
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecommendationListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
components:
  schemas:
    CourseListResponse:
      $ref: "training.schemas.yaml#/components/schemas/CourseListResponse"
    ProjectListResponse:
      $ref: "training.schemas.yaml#/components/schemas/ProjectListResponse"
    RecommendationListResponse:
      $ref: "training.schemas.yaml#/components/schemas/RecommendationListResponse"
  securitySchemes:
    bearerAuth:
      $ref: "common/security.yaml#/components/securitySchemes/bearerAuth"
  responses:
    BadRequest:
      $ref: "common/responses.yaml#/components/responses/BadRequest"
    Unauthorized:
      $ref: "common/responses.yaml#/components/responses/Unauthorized"
    Forbidden:
      $ref: "common/responses.yaml#/components/responses/Forbidden"
    NotFound:
      $ref: "common/responses.yaml#/components/responses/NotFound"
